//ГОТОВЫЕ БЛОКИ=======================================================================================
@import 'base/variables';
@import 'base/mixins';
@import 'base/null';

.container {
	margin: 0 auto;
	width: 1140px;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/services';
@import 'blocks/contacts';
@import 'blocks/media';
//ГОТОВЫЕ БЛОКИ=======================================================================================


//<Подключаем шрифты>=======================================================================================
//
@import url(https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap&subset=cyrillic-ext);


//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//@import "icons";

//</Иконочные шрифты>==========================================================================================


//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
	background-color: rgb(46, 46, 46);
	color: #fff;
	font-size: 16px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================


.divider {
	width: 60px;
	height: 3px;
	background-color: $main-color;
	margin: 25px auto 0px auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
