.promo {
	position: relative;
	padding: 205px 0 100px 0;
	&__subtitle {
		position: relative;
		padding-left: 12px;
		z-index: 2;
		@include before_circle;
	}
	&__btns {
		display: flex;
		align-items: center;
		margin-top: 25px;
	}

	&__btn {
		width: 135px;
		text-align: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 21px;
		margin-right: 44px;
		color: #222;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		transition: 0.150s all;
		&:hover {
			background-color: #ffb52c;
		}
	}
	&__link {
		font-weight: 700;
		font-size: 14px;
		transition: 0.150s all;
		&:hover {
			color: rgb(102, 101, 101);
		}
	}
}