.services {
	padding: 66px 0px 0px 0px;
	&__wrapper {
		margin: 60px 0px 0px 0px;
		display: grid;
		grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
		grid-auto-rows: minmax(45px, auto);
		justify-content: space-between;
		padding: 0px 75px 0px 75px;
	}
	&__block {
		&-list {
			display: grid;
			row-gap: 15px;
		}
		&-item {
			display: grid;
			grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
			justify-content: space-between;
			align-content: space-between;
		}

		&-title {
			position: relative;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
			@include before_circle;
			&::before {
				width: 15px;
				height: 15px;
				top: 2px;
				left: -30px;
			}
		}

		&-price {
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
			justify-self: end;
		}
		&-text {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			margin: 5px 0px 0px 0px;
			grid-column: 1 / 3;
		}
	}
}